.git
.ipynb_checkpoints/*
/notebooks/*
/unused/*
Dockerfile
.DS_Store
.gitignore
README.md
# env.*
/devops/*
node_modules
notes.docx

# To prevent storing dev/temporary container data
*.csv
/tmp/*

poster.jpg
poster.bmp
poster.png